#jumbo {
  padding-top: 70px;
}

.bg-primary {
    background-color: #29303b !important;
}

p {
   padding: 10px;
}

#carousel-header {
  text-align: center;
  padding-top: -50px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100% !important;
}